Models/CascadedSystem/Resulting Models/Results/MPCAct.mat
Models/CascadedSystem/Resulting Models/Results/HSGAct.mat
Models/CascadedSystem/Resulting Models/Results/MPCRef.mat
Models/CascadedSystem/Resulting Models/Results/HSGRef.mat
Models/CascadedSystem/Resulting Models/Results/Passive.mat
